/* reading... */
.story-body p,
.story-body li,
.story-body a,
.story-body p *,
.layout-main p,
.layout-main p *,
.story-body h2,
.layout-main h2 {
    font-family: Verdana !important; /* uw-fnt-a */
    font-size: 14px !important; /* uw-sz-alg */
    line-height: 20px !important; /* uw-lh-alg */
    font-weight: normal !important; /* uw-wgt */
    font-style: normal !important; /* uw-sty */
    text-align: justify !important; /* uw-jfy */
    color: #222 !important; /* uw-clr */
}

.story-body h2,
.layout-main h2 {
    font-weight: bold !important; /* bld */
}

.story-body a,
.layout-main a {
    font-weight: normal !important; /* uw-wgt */
    text-decoration: underline #ccc !important; /* uw-uln */
    border-bottom: none !important; /* uw-btm */
}

.story-body p {
    margin: 15px 0 !important; /* uw-pmgn */
}

/* ...reading */

.story-body figure {
    max-width: 785px !important;
    margin: 10px auto !important;
}

.story-body figure.body-narrow-width {
    margin-left: 15px !important;
}

.story-body__inner {
    margin: 0 auto !important;
}

.column--primary, .container, .container-width-only {
    xwidth: 800px !important;
}

#bbccookies,
#cookiePrompt,
.section-header__orb,
.navigation__orb-stuck,
.column--secondary,
.js-breaking-news-banner,
.nw-c-breaking-news-banner,
.pullout,
.share-tools--event-tag {
    display: none !important;
}

/* top nav bar... */
.navigation--primary {
    min-height: 40px !important;
}
#brand {
    margin-bottom: 2px !important;
    margin-top: 5px !important;
}
.find-local-wide {
    margin-top: 3px !important;
}
/* ...top nav bar */


/********** small window... **********/
@media (max-width: 800px) {
    .story-body p,
    .story-body li,
    .story-body p *,
    .layout-main p,
    .layout-main p *,
    .story-body h2,
    .layout-main h2 {
        font-size: 13px !important; /* uw-sz-asm */
        line-height: 18px !important; /* uw-lh-asm */
    }

    .column--primary,
    .container,
    .container-width-only {
        width: auto !important;
    }

    .story-body .body-width.lead, .story-body .full-width.lead {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

}
/*************************************/