

.tagsHolder.decoration-holder,
.visitWebsiteButton,
.col-xl-3 {
    display: none !important;
}

.headerInfo.headerInfo-article {
    margin-top: 0 !important;
}

.shareBarHolder {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.entryBody img {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.entryholder {
    padding-bottom: 0 !important;
}

.inlineFrame .u100Entry .title {
    margin-bottom: 5px !important;
}

.content, .entryBody, .entryBody * {
    font-family: Kalinga !important; /* uw-fnt */
    font-size: 14px !important; /* uw-sz 14 */
    line-height: 19px !important; /* uw-lh 19 */
    font-weight: 300 !important; /* uw-wgt */
    font-style: normal !important; /* uw-sty */
    text-align: justify !important; /* uw-jfy */
    color: #222 !important; /* uw-clr */
}