.logocont,
.blockLink,
#ab_ctls {
    display: none;
}

#hdtb-msb,
#cnt,
div.sfbg,
div.sfbgg,
.sfbgx,
#top_nav,
#fbar,
#appbar,
#rhscol,
div#searchform {
    min-width: 200px !important;
}

/* buttons... */
.hdtb-mitem.hdtb-msel.hdtb-imb,
.hdtb-mitem a.q.qs,
#hdtb-msb a.q.qs,
a.hdtb-tl,
a.hdtb-dd-b {
    outline-width: 0 !important;
    outline: none !important;
    text-decoration: none !important;
    border: 0 !important;
    border-right: solid 1px #bbb !important;
    display: inline-block !important;
    text-align: center !important;
    border-radius: 0 !important;
    line-height: 19px !important;
    cursor: pointer !important;
    padding: 4px 5px !important;
    margin: 0 !important;
    color: #777 !important;
}

.hdtb-mitem.hdtb-msel {
    height: 19px !important;
}

.hdtb-tsel {
    color: #4285F4 !important;
}
/* ...buttons */

span.st,
div.st {
    font-family: Ubuntu !important; /* uw-fnt-a */
    font-size: 14px !important; /* uw-sz-asm */
    line-height: 19px !important; /* uw-lh-asm */
    font-weight: 300 !important; /* uw-wgt-a */
    font-style: normal !important; /* uw-sty */
    text-align: justify !important; /* uw-jfy */
    color: #000 !important; /* uw-clr-a */
    display: block;
    padding-top: 3px;
    padding-bottom: 6px;
}

span.mn-dwn-arw {
    border-color: #bbb transparent !important;
}

.exp-outline {
    border-width: 1px 0 !important;
}

.HF9Klc.ZYMsjf,
.more-vert.z1asCe.SaPW2b {
    display: none !important;
}

/********** medium window... **********/
@media (max-width: 1150px) {
    #rhs {
        margin-left: 660px !important;
    }
    
    .RNNXgb {
        width: 350px !important;
        
    }

    #hdtb-msb {
        margin-top: 10px !important;
    }
    #hdtb-msb-vis {
        margin-left: 0 !important;
    }
    
    #hdtb-msb .hdtb-mitem.hdtb-msel:first-child,
    #hdtb-msb .hdtb-mitem.hdtb-msel-pre:first-child,
    #hdtb-msb > .hdtb-mitem:first-child,
    #cnt #center_col,
    .mw #center_col,
    .tsf-p,
    .ab_tnav_wrp {
        margin-left: 10px !important;
        padding-left: 0 !important;
    }

    #cnt > * {
        xxmargin: 0 auto !important
    }

    #res,
    #taw > div,
    #resultStats  {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #center_col .kp-blk,
    #center_col, #resultStats {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    /* buttons... */
    .hdtb-mitem,
    .hdtb-imb {
        margin: 0 !important;
    }

    #hdtbMenus,
    #hdtb-msb .hdtb-mitem.hdtb-imb:first-child {
        margin-left: 10px !important;
    }
}

/********** small window... **********/
@media (max-width: 960px) {


    #rhs,
    #rhscol,
    #hdtb-mn-gp {
        display: none !important;
    }
    /* ...buttons */
}

li.g {
    border-top: solid 1px #ddd;
    padding: 10px 0;
}
