all notes
.RfDI4d-mAKE4e-DyVDA-haAclf *,
.VIpgJd-TUo6Hb *,
.neVct-SX9D7d-ObfsIf *,
.RfDI4d-bN97Pc *,
.IZ65Hb-n0tgWb *
.h1U9Be-xhiy4 *,
.gkA7Yd-sKfxWe * {
    font-family: Ubuntu !important; /* uw-fnt */
    font-size: 14px !important; /* uw-b-sz-sm 14 */
    line-height: 23px !important; /* uw-lh-sm 23 */
    font-weight: 300 !important; /* uw-wgt */
    font-style: normal !important; /* uw-sty */
    text-align: justify !important; /* uw-jfy */
    color: #222 !important; /* uw-clr */
}

[aria-label="Title"] {
	font-size: 22px !important;
}