.facia-page, .facia-page *, article, article * {
    font-family: Corbel !important; /* uw-fnt-b */
}

.content__article-body * {
    font-family: Corbel !important; /* uw-fnt-b */
    font-size: 18px !important; /* uw-sz-blg */
    line-height: 25px !important; /* uw-lh-blg */
    font-weight: normal !important; /* uw-wgt */
    font-style: normal !important; /* uw-sty */
    text-align: justify !important; /* uw-jfy */
    color: #222 !important; /* uw-clr */
}

.content__article-body p {
    margin: 15px 0 !important; /* uw-pmgn */
}

.content__article-body a {
    border-bottom: 0 !important;
    text-decoration: underline #ccc !important; /* uw-uln */
    border-bottom: none !important; /* uw-btm */
}

.content__main-column {
    max-width: 800px !important;
    margin-right: 0 !important;
}

.content__main-column:before {
    background: 0 !important;
}

.content__secondary-column, 
.js-secondary-column,
.content__meta-container,
.site-message--banner,
.site-message--cookies,
.top-banner-ad-container,
.submeta,
.contributions__epic,
aside,
.content-footer,
footer {
    display: none !important;
}

.drop-cap, .drop-cap * {
    height: auto !important;
    margin: 0 !important;
    float: none !important;
    vertical-align: baseline !important;
}

.l-side-margins::after,
.l-side-margins::before {
    border: 0 !important;
}
