.article_magazine_content_wraper {
    padding-left: 0 !important
}

.article_magazine_picture_wrapper,
.article_tags,
.sd,
.icon-button-email,
.icon-button-mobilize-empty,
.icon-button-text-preferences,
.popularity_div,
#parent_all_articles {
    display: none !important;
}

.tree_add_icon {
    opacity: 0.5 !important;
}

.article_footer_main_buttons {
    width: 90px !important;
}

/********** scaffold... **********/

.article_footer_placeholder_top {
    position: absolute !important;
}

.article_title {
    font-family: Ubuntu !important; /* uw-fnt-a */
    text-align: justify !important; /* uw-jfy */
    font-size: 20px !important;
    margin: 20px 0 5px !important;
}

.article_sub_title {
    margin-top: 0 !important;
}

.subscriptions_legend {
    text-transform: none !important;
}

.inno_dialog_modal_overlay {
    opacity: 1 !important;
}

/********** reading... **********/
.article_magazine_title_content,
.article_content,
.article_content *,
.article_magazine_contentx {
    font-family: Ubuntu !important; /* uw-fnt-a */
    font-size: 17px !important; /* uw-sz-alg */
    line-height: 24px !important; /* uw-lh-alg */
    font-weight: 400 !important; /* uw-wgt-a */
    font-style: normal !important; /* uw-sty */
    text-align: justify !important; /* uw-jfy */
    color: #444 !important; /* uw-clr-a */
}

.article_content * {
    max-width: 100% !important;
}

.article_content {
    margin-bottom: 40px !important;
}

.article_content img {
    margin: 10px 0 !important;
}

.article_content h1,
.article_content h2,
.article_content h3,
.article_content h4 {
    font-weight: bold !important; /* bld */
}

.article_content p {
    margin: 15px 0 !important; /* uw-pmgn */
}

.article_content a,
.article_content a:hover {
    text-decoration: underline #ccc !important; /* uw-uln */
    border-bottom: none !important; /* uw-btm */
}

.article_content blockquote,
.article_content blockquote * {
    font-style: italic !important;
}

.article_content {
    max-width: 9999px !important;
    padding-right: 12px !important;
}

#article_dialog .article_title {
    padding-right: 45px !important;
}

/******************************/

/* LHS Tree */

/********** small window... **********/
@media (max-width: 800px) {

    .article_magazine_content {
        font-size: 14px !important; /* uw-sz-asm */
        line-height: 22px !important; /* uw-lh-asm */
    }

}
/******************************/
