/********** reading... **********/
#reader_pane,
.article_content,
.article_content * {
    font-family: Ubuntu !important; /* uw-fnt */
    font-size: 17px !important; /* uw-sz 17 */
    line-height: 28px !important; /* uw-lh 28 */
    font-weight: 300 !important; /* uw-wgt */
    font-style: normal !important; /* uw-sty */
    text-align: justify !important; /* uw-jfy */
    color: #222 !important; /* uw-clr */
}

.article_content h4 {
    font-weight: bold !important; /* bld */
}

.article_content p {
    margin: 15px 0 !important; /* uw-pmgn */
}

.article_content a,
.article_content a:hover {
    text-decoration: underline dotted #aaa !important; /* uw-uln */
    border-bottom: none !important; + /* uw-btm */
}

.article_content {
    max-width: 9999px !important;
    padding-right: 12px !important;
}

#article_dialog .article_title {
    padding-right: 45px !important;
}

/******************************/

/* uw-lhS Tree */
#subscriptions_fieldset legend span.sf_refresh {
    margin-left: -6px; !important;
}
#subscriptions_fieldset legend span.subscriptions_legend {
    color: #bbb !important;
}

#subscription_options_peek_wrapper,
#parent_dashboard,
#parent_all_articles,
#parent_web_pages {
    display: none !important;
}

.feed_favicon {
    display: none;
}

.tree_node {
    margin: 0 !important;
    padding: 0;
}
/* */

/* whole page... */
#wraper {
    min-width: 0 !important;
}

#sinner_container {
    display: none !important;
}

.inno_dialog_modal_overlay {
    opacity: 1.0 !important;
}


/********** small window... **********/
@media (max-width: 840px) {
    
    body {
        background-color: #fff !important;
    }
    
    #reader_pane,
    .article_content,
    .article_content *,
    .article_magazine_title,
    .article_magazine_title_link,
    .article_magazine_content,
    .article_title {
        font-size: 14px !important; /* uw-sz-sm 14 */
        line-height: 23px !important; /* uw-lh-sm 23 */
    }

    .article_magazine_content {
        max-height: none !important;
    }
    
    .article_content img,
    .article_magazine_picture,
    .article_content iframe {
        display: none !important;
    }
    
    #article_dialog_wrapper {
        width: 100% !important;
        left: auto !important;
    }
    
    .article_magazine_content_wraper {
        padding-left: 0 !important;
    }

    .inno_dialog_content {
        padding: 5px 15px 35px 5px !important;
    }
    
    .inno_dialog, .inno_dialog_content_scrollable {
        top: 0 !important;
        height:100% !important;
    }
    
    /* main view top buttons, left tree */
    #subscriptions_buttons,
    #sb_rp_tools {
        display: none !important;
    }
    
    /* article title */
    .article_title .article_title_link {
        font-family: Arial !important;
        font-size: 16px !important;
        line-height: 16px !important;
        font-weight: bold !important;
        color: #222 !important; /* uw-clr */
    }
        
    #article_dialog .article_title {
        padding-right: 50px !important;
    }
}
/******************************/