body.mainWindow {
    min-width: 0 !important;
}

textarea.whPlainText {
    font-family: courier new !important;
}

#dsl0 {
    display: none !important;
}

._n_Q4,
.groupsPadding {
    display: none !important;
}