/********** reading... **********/

/* top toolbar */
.css-134evwy {
    position: absolute !important;
}

.css-429vn2 {
    padding: 0 !important;
}

.css-13ml8nn,
.css-z6hwdn {
    xx-max-width: 900px !important;
}

.css-q7xgeq {
    margin-bottom: 900px !important;
}

.css-q7xgeq * {
    font-family: Open Sans !important; /* uw-fnt-b */
    font-size: 16px !important; /* uw-sz-blg */
    line-height: 28px !important; /* uw-lh-blg */
    font-weight: 400 !important; /* uw-wgt-b */
    font-style: normal !important; /* uw-sty */
    text-align: justify !important; /* uw-jfy */
    text-indent: 10px !important; /* uw-ind-b */
    color: #444 !important; /* uw-clr-b */
    text-shadow: none !important;
    background-image: none !important;
}

body * {
    font-family: Open Sans !important; /* uw-fnt-b */
    font-weight: 400 !important; /* uw-wgt-b */
}

.css-jt60ew {
    max-width: 1600px !important;
}

h1,
h2,
h3,
h4,
table,
figcaption,
#RIL_container p {
    max-width: 900px !important;
    margin: 15px auto !important; /* uw-pmgn */
}
#RIL_container p {
    text-indent: 10px !important; /* uw-ind-b */
    text-align: justify !important; /* uw-jfy */
}

img,
figure {
    xmax-height: 900px !important;
}

#RIL_container a,
#RIL_container a:hover {
    font-weight: 400 !important; /* uw-wgt-b */
    text-decoration: underline #ccc !important; /* uw-uln */
    border-bottom: none !important; /* uw-btm */
    text-shadow: none !important;
    background-image: none !important;
}

#RIL_container h1, #RIL_container h1 *,
#RIL_container h2, #RIL_container h2 *,
#RIL_container h3, #RIL_container h3 *,
#RIL_container h4, #RIL_container h4 *,
#RIL_container h5, #RIL_container h5 *,
#RIL_container h6, #RIL_container h6 * {
    font-weight: bold !important; /* bld */
    text-indent: 0 !important;
}

#RIL_container figure,
#RIL_container figure img {
    margin: 0 auto !important;
    width: auto !important;
    text-align: center !important;
}

#RIL_container em, #RIL_container em *,
#RIL_container i, #RIL_container i * {
    font-style: italic !important;
}

#RIL_container strong, #RIL_container strong *,
#RIL_container b, #RIL_container b * {
    font-weight: bold !important;
}

#RIL_container blockquote {
    border-left-width: 0 !important;
}

#RIL_container blockquote,
#RIL_container pre {
    margin: 0 !important;
    padding: 0 10px !important;
}

.css-rfboy2,
.css-14akkwd,
.css-2olnzk,
.css-3ceer,
.css-1exf5ld ~ .css-14qypza,
.css-1exf5ld,
.css-heoahc {
    display: none !important;
}

/******************************************/

/********** general... **********/

/* tags - best-of
   tags - inoreader
   highlight popup
   list - bottom left links
*/
.css-7rgdve,
.css-nenz0o,
.css-1xs5bpo,
.css-g0934g,
.css-3ceer,
a[type="upgrade"] {
    display: none !important;
}

html body .css-q7xgeq ::selection,
html body .css-q7xgeq ::-moz-selection {
    background-color: #3297FD !important;
    color: #fff !important;
}

/*************************************/

/********** small window... **********/
@media (max-width: 800px) {
    #RIL_container * {
        font-size: 14px !important; /* uw-sz-bsm */
        line-height: 24px !important; /* uw-lh-bsm */
    }
    
    #RIL_container {
        margin: 20px !important;
    }
    
    #RIL_container figure img {
        width: 95% !important;
    }
    
    .css-sw3fzs[data-tooltip]::before {
        display: none;
    }
}
/*************************************/
