/* TODO: delete this? */
div.readr-inner {
    border: solid 1px #444 !important;
    border-radius: 7px !important;
    margin: 40px auto 800px !important;
    max-width: 900px !important;
    padding: 60px !important;
}

.readr-inner, .readr-inner * {
    /* reading font 13/20... */
    font-family: Verdana, Corbel, URW Gothic L, Ubuntu Light, DejaVu Sans, Arial, Courier New !important;
    font-style: normal !important;
    font-size: 13px !important;
    line-height: 20px !important;
    text-align: justify !important;
    color: #222 !important;
    /* ...end */
    box-sizing: content-box !important;
    background-color: #ffffff !important;
    background-image: none !important;
    max-width: 900px !important;
}

.readr-innerx {
    float: none !important;
    height: auto !important;
    margin: 0px !important;
    margin-bottom: 5px !important;
    max-width: 2000px !important;
    padding: 0px !important;
    width: auto !important;
    border-width: 0 !important;
    font-weight: bold !important;
}

.readr-inner h1 {
    font-size: 18pt !important;
}

.readr-inner h1, .readr-inner h2, .readr-inner h3, .readr-inner h4, .cross-head {
    font-weight: bold !important;
}

.readr-inner p {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.readr-inner a {
    text-decoration: none !important;
    color: #222 !important;
    border-bottom: 1px dotted #ddd !important;
}

.readr-inner img {
    display: block !important;
    margin: 5px 0 !important;
}

.readr-inner blockquote {
    font-style: italic !important;
    margin: 0 10px !important;
}

.readr-inner img + span, .caption, figcaption {
    display: block !important;
    font-style: italic;
}

.readr-inner figure {
    margin: 0 !important;
}

.readr-container {
    border-bottom: solid 1px #444 !important;
}

.readr-container > div {
    padding: 20px !important;
    border-top: solid 1px #ccc !important;
    border-bottom: solid 1px #ccc !important;
}

.readr-links {
    border-top: 1px solid #ccc !important;
    margin-top: 20px !important;
    padding-top: 20px !important;
}

/*
#page-bookmark-links-head, .share-help, .social, .share, .twitter, .socialLinks, .bbc-st, .shareMe, .share-links, 
.quote, .xstory-feature, .readr-inner .rightColFrame td[width="140"]
{
    display: none !important;
}
*/
