/********** reading... **********/
.usertext-body p {
    font-family: Kalinga !important; /* uw-fnt */
    font-size: 14px !important; /* uw-sz-sm 14 */
    line-height: 19px !important; /* uw-lh-sm 19 */
    font-weight: 300 !important; /* uw-wgt */
    font-style: normal !important; /* uw-sty */
    text-align: justify !important; /* uw-jfy */
    color: #222 !important; /* uw-clr */
}

.usertext-body p + p {
    text-align: justify !important; /* uw-jfy */
    margin: 15px 0 !important;
}

.usertext-body a,
.usertext-body a:hover {
    text-decoration: underline dotted #aaa !important; /* uw-uln */
}

.score, .live-timestamp, .flat-list *, .flair {
    color: #000 !important;
    max-height: 5px !important;
    opacity: 0.1;
}
/******************************************/

/********** small window... **********/
@media (max-width: 800px) {
    .usertext-body * {
        font-size: 14px !important; /* uw-sz-sm 14 */
        line-height: 19px !important; /* uw-lh-sm 19 */
    }
}
/*************************************/
