#answers,
#mainbar,
#question,
.answer,
.comments,
.post-text,
.question-status
{
    font-family: Open Sans !important; /* uw-fnt-asm */
    font-size: 14px !important; /* uw-sz-asm */
    line-height: 18px !important; /* uw-lh-asm */
    font-weight: normal !important; /* uw-wgt */
    font-style: normal !important; /* uw-sty */
    text-align: justify !important; /* uw-jfy */
    color: #222 !important; /* uw-clr */
    width: auto !important;
    max-width: 900px !important;
}

*
{
    min-width: 10px !important;
}

body *
{
    max-width: 850px !important;
}

@media (max-width: 950px)
{
    .container
    {
        margin: 0 !important;
    }
}

/* header, */
#announcement-banner,
#left-sidebar,
.js-dismissable-hero,
#js-gdpr-consent-banner,
#feed-link,
#footer,
header,
#header,
#herobox,
#post-form,
#sidebar,
.aside-cta,
.bottom-notice,
.nav,
.top-bar,
.topbar,
._fixed,
noscript
{
    display: none !important;
}

#answers-header,
#content,
#header,
header,
.topbar,
.topbar-wrapper,
body,
html
{
    width: auto !important;
    min-width: 0 !important;
}

.so-header ~
.container
{
    padding-top: 0 !important;
}

body,
._full,
.container
{
    margin-top: 0 !important;
    background: none !important;
}