#answers,
#mainbar,
#question,
.answer,
.comments,
.post-text,
.question-status
{
    /* reading font 13/20... */
    font-family: Verdana, Corbel, URW Gothic L, Ubuntu Light, DejaVu Sans, Arial, Courier New !important;
    font-style: normal !important;
    font-size: 13px !important;
    line-height: 20px !important;
    text-align: justify !important;
    color: #222 !important;
    /* ...end */
    width: auto !important;
    max-width: 900px !important;
}

/* header, */
#announcement-banner,
#feed-link,
#footer,
#header,
#herobox,
#post-form,
#sidebar,
.aside-cta,
.bottom-notice,
.nav,
.top-bar,
.topbar,
._fixed,
noscript
{
    display: none !important;
}

#answers-header,
#content,
#header,
.topbar,
.topbar-wrapper
body,
html
{
    width: auto !important;
    min-width: 0 !important;
}

.so-header ~
.container
{
    padding-top: 0 !important;
}

body,
._full,
.container
{
    margin-top: 0 !important;
    background: none !important;
}