p, p * {
    /*font-family: Comic Sans MS !important;
    font-size: 18px !important;
    line-height: 26px !important;
    text-align: justify !important; */
    color: #808 !important;
    background-color: #EBFFCA !important;
}
