.container {
    color: #000 !important;
    background-color: #fff !important;
}

a,
a:hover {
    font-weight: normal !important; /* uw-wgt-a */
    text-decoration: underline #ccc !important; /* uw-uln */
    border-bottom: none !important; /* uw-btm */
    color: #222 !important; /* uw-clr-a */
}
