/* reading... */
body .mw-content-ltr p, body .mw-content-ltr ul {
    font-family: Corbel !important; /* uw-fnt-b */
    font-size: 20px !important; /* uw-sz-blg */
    line-height: 30px !important; /* uw-lh-blg */
    font-weight: 300 !important; /* uw-wgt-b */
    font-style: normal !important; /* uw-sty */
    text-align: justify !important; /* uw-jfy */
    color: #333 !important; /* uw-clr-b */
}

p {
    margin: 15px 0 !important; /* uw-pmgn */
}

.mw-content-ltr a {
    color: #333 !important; /* uw-clr-b */
    text-decoration: underline #ccc !important; /* uw-uln */
    border-bottom: none !important; /* uw-btm */
}

html body.mediawiki main .uw-container sup a,
html body.mediawiki main .uw-container sup *,
sup,
sup * {
    border-bottom: 0 !important;
    color: #ccc !important;
    font-size: 8px !important;
    text-decoration: none !important;
    vertical-align: top !important;
}

.banner-container {
    display: none !important;
}
