/* reading... */
body .mw-content-ltr p, body .mw-content-ltr ul {
    font-family: Corbel !important; /* uw-fnt-b */
    font-size: 18px !important; /* uw-sz-blg */
    line-height: 25px !important; /* uw-lh-blg */
    font-weight: normal !important; /* uw-wgt */
    font-style: normal !important; /* uw-sty */
    text-align: justify !important; /* uw-jfy */
    color: #222 !important; /* uw-clr */
}

p {
    margin: 15px 0 !important; /* uw-pmgn */
}

.mw-content-ltr a {
    color: #222 !important; /* uw-clr */
    text-decoration: underline #ccc !important; /* uw-uln */
    border-bottom: none !important; /* uw-btm */
}

sup,
sup.reference,
sup.Inline-Template,
sup * {
    font-size: 8px !important;
    vertical-align: top !important;
}

.readr-container sup *,
.readr-container sup a,
body .mw-content-ltr sup *,
body .mw-content-ltr sup.reference *,
body .mw-content-ltr sup.Inline-Template * {
    font-size: 8px !important;
    text-decoration: none !important;
    border-bottom: 0 !important;
    color: #ccc !important;
}

.banner-container {
    display: none !important;
}